ACTION=="add", ATTRS{idVendor}=="0557", ATTRS{idProduct}=="2008", SYMLINK+="paka3000"
ACTION=="add", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="6340", SYMLINK+="paka3000cam"
ACTION=="add", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="vt320"
ACTION=="add", ATTRS{idVendor}=="1b3f", ATTRS{idProduct}=="2247", SYMLINK+="vt320cam"
ACTION=="add", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="gameboy"
